################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Project.csproj
/Project/Project.csproj
/Project/Project.csproj
/Project/Project.csproj
.vs/
bin/
obj/
